@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Welcome to my Air Quality Web Application. Here you can easily access historical and real-time air quality data from diverse sources from across the globe.</p>
    <p> When you ready, please click on Countries option on the menu bar. Happy searching :)</p>
</div>
