@model AirQualityWebApp.Models.AirQualityViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@using (Html.BeginForm()){

@*@Html.HiddenFor(m => m.Countries)*@
    @Html.AntiForgeryToken()
@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<div>
    @Html.DisplayNameFor(model => model.Countries)
</div>

<div>
       
    @Html.DropDownListFor(model=> model.CountryCode, Model.Countries)
    <input type="submit" value="Select Country" class="btn btn-success"/>
</div>
}